#ActorsInform {

  .ActorsInform {
    display: flex;
    padding: 100px 0;

    img {
      box-shadow: 0 0 90px green;
      border-radius: 20px;
      width: 340px;

    }
    &--text {
      margin-left: 8%;
      padding-top: 50px;
    }
  }
}